extends layout

block content
  - const week = ['木曜日','金曜日','土曜日','日曜日','月曜日','火曜日','水曜日']
  - const time = ['１限','2限','昼','3限','4限','5限','夜1','夜2'] 

  div.container
  if (user)
    p.lead.text-white こんにちは #{user.username} さん

    br
  
  table.table.table-bordered(cellpadding="0")
    tr
      th 
      th 木曜日
      th 金曜日
      th 土曜日
      th 日曜日
      th 月曜日
      th 火曜日
      th 水曜日

    - for (var x = 0; x < 8; x++)
      tr
      th(id="time") #{time[x]}
      - for (var y = 0; y < 7; y++)
        if createdBy[x][y] != '' && user.id != createdBy[x][y]  
           th(height="70",width="70",id="coma")
            div(style="text-align:center")
                if(band_name[x][y] != '')
                  label #{band_name[x][y]}/#{responsible_person[x][y]}
        else
          th(height="70",width="70",id="coma",data-vertical=time[x],data-side=week[y],data-infox=x,data-infoy=y,data-band=band_name[x][y],data-person=responsible_person[x][y],data-toggle="modal",data-target="#testModal")
            div(style="text-align:center")
              if(band_name[x][y] != '')
                label #{band_name[x][y]}/#{responsible_person[x][y]}
              
  div(class="box_title") パス履歴
    div(class="box_srcollbar")
      each comment in comments
        label #{comment.formattedUpdatedAt}　#{comment.band_name}がパスされました。 
          
  div#testModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='basicModal', aria-hidden='true')
    div.modal-dialog
      div.modal-content
        form(action="/", method="post",id="form")
              div.modal-header
                h5#myModalLabel.modal-title コマ投稿フォーム
                button.btn.btn-default(type="button",data-dismiss="modal") ×
              div.modal-body
                br
                input(type="hidden" name="_csrf" value!=csrfToken)
                label バンド名 or ハイテク：(空白はNG)
                input(type="text", name="band_name",id="band_name",maxlength='7').form-control
                br
                label 責任者名：(空白はNG)
                input(type="text", name="responsible_person",id="responsible_person",maxlength='7').form-control
                input(type="hidden" name="timetable_info_weekday" id="x")
                input(type="hidden" name="timetable_info_period" id="y")
                br
                div.text-center
                  div.btn-group.btn-group-toggle.col-10(data-toggle="buttons")
                    label.btn.btn-light.btn-outline-dark.active
                      input(type='radio', name='select', value='send')
                      | 送信
                    label.btn.btn-light.btn-outline-dark.active
                      input(type='radio', name='select', value='pass')
                      | パス
              div.modal-footer
                button.btn.btn-info(type='submit',id="decision") 決定

  script(src="/javascripts/index_front.js")
   